---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: immich-external-secret
  namespace: monitoring
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: immich-secret
    template:
      engineVersion: v2
      data:
        DB_DATABASE_NAME: immich
        DB_HOSTNAME: "{{ .POSTGRES_HOSTNAME }}"
        DB_USERNAME: "{{ .IMMICH_POSTGRES_USERNAME }}"
        DB_PASSWORD: "{{ .IMMICH_POSTGRES_PASSWORD }}"
        JWT_SECRET: "{{ .IMMICH_JWT_SECRET }}"
        INIT_POSTGRES_DBNAME: "{{ .IMMICH_POSTGRES_DB }}"
        INIT_POSTGRES_USER: "{{ .IMMICH_POSTGRES_USERNAME }}"
        INIT_POSTGRES_PASS: "{{ .IMMICH_POSTGRES_PASSWORD }}"
        INIT_POSTGRES_HOST: "{{ .POSTGRES_HOSTNAME }}"
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASSWORD }}"
  dataFrom:
    - extract:
        key: immich
    - extract:
        key: cloudnative-pg
