---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/common-4.2.0/charts/library/common/values.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app factorio
spec:
  releaseName: *app
  interval: 30m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  rollback:
    cleanupOnFail: true
  upgrade:
    force: true
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      factorio:
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            env:
              TZ: America/Chicago
              SAVE_NAME: gigadeath-2
              LOAD_LATEST_SAVE: false
              BIND: "0.0.0.0"
              UPDATE_MODS_ON_START: true
              GENERATE_NEW_SAVE: true
            image:
              repository: ronsonm/factorio # should swap back to factoriotools/factorio once thet fix their key
              tag: stable@sha256:ba8d9df781e73a0b76e5c43b4f7a7d75cb5f6dbeaf458091acbb971c38fd646b
            resources:
              requests:
                memory: 8000m
    service:
      app:
        type: LoadBalancer
        annotations:
          metallb.universe.tf/allow-shared-ip: factorio-sharedip
        loadBalancerIP: "192.168.10.114"
        controller: *app
        ports:
          gametcp:
            port: 27015 #rcon port
          gameudp:
            port: 34197
            protocol: UDP
    ingress:
      app:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "false"
        hosts:
          - host: &host factorio.aylamar.com
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        existingClaim: *app
        advancedMounts:
          factorio:
            app:
              - path: /factorio
